body
{
   font-family: "Montserrat";
    margin-top:-100px;
    margin-bottom:-100px;
}

#msg {
visibility: hidden;
/* min-width: 250px; */
background-color:white;
color: 	#00FFFF;
text-align: center;
border-radius: 2px;
padding: 16px;
position: fixed;
z-index: 1;
right: 30%;
top: 30px;
font-size: 17px;
margin-right:187px;
font-weight: bold;
}

#msg.show {
visibility: visible;
/* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
from {top: 0; opacity: 0;}
to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
from {top: 30px; opacity: 1;}
to {top: 0; opacity: 0;}
}
.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  z-index: -1;

}

.main {
  position: relative;
  text-align: center;
  /* padding: 0 0 500px; */
  /* font-size: 24px; */
  height: 120%;
 /* background: linear-gradient( rgba(49, 28, 131, .9),rgba(34, 72, 212, .9));*/
  color: #d4d4dc;
  /* margin-bottom: 100%; */
  /* font-size: 2.5rem; */
}
.signup
{
  /*background: rgba(44,62,80,0.7);*/
  /*background: url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  /* padding: 0 40px 0 ; */
  width: 500px;
  margin: auto;
  
  /* margin-top: 90px; */
  height: 650px;

  /* margin-bottom: 100px; */
  text-align: center;

}
.test {
  padding: 10% 15%;
}
form
{
    width: 400px;
    text-align: center;
    margin-left: 50px;
    padding-top: 20px;
}
input
{

  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  /* font-family: 'Play', sans-serif; */
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  /* transition: border 0.5s; */
  outline: none;
  color: #00FFFF;
}
.Download-button {
  margin-top: 10%;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: bold;
}
h2
{
    color: #00FFFF;

}
/*
::placeholder {
  color: #00FFFF;
}
*/
